
body{
    /* background-image: url(../../ressources/custom-imgs/fonddegradécentre.jpg); */
    /* background-color: white; */
    font-family: Arial, Helvetica;
	/* background-color: rgb(252, 248, 250); */
	/* background-color: blueviolet; */
	background-image: url(../../include/img/para.jpg);
    color: rgb(7, 7, 7);
	color: rgba(0,0,0,0.5);
}



p{
    text-align: justify;
}

.logoindigen{

    width: 30%;
}

#wrapper{
	/* Mon bloc sera organisé en grille*/
	display: grid;
	/* 4 colonnes respectivement de 600px et la seconde collonne équivaut à la taille des 2 suivantes */
	grid-template-columns: 1fr 1fr;
	/* Gestion de la hauteur des lignes */
  	/* grid-template-rows: 15% 45% 40%; */
  	/* Gestion de la taille du bloc */
  	width: 100%;
  	margin: 0 auto;
  	height: 100%;
}

.vignette1{
width: 80%;
margin-right: -15%;
/* margin-left: 30%; */
}
/* .videonesppreso{
	
	position: relative;
	/* top: 20%; */
	/* left: 20%; */
	/* margin-top: auto;
	margin-right: auto;
	z-index: auto; */
/* } */


/* .cover__media__wrapper {
    position: relative;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    margin-left: -8.4%;
	margin-right: -8.4%;
	margin-top: 10%;
} */

/* .controlsOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
} */
/* .stackItem {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
}
.controlsContainer {
    --clickToPlay-size: 48px;
    --button-size: 30px;
    --timer-size: 40px;
    --timer-long-size: 60px;
    --track-size: 5px;
    --thumb-size: 13px;
    --label-font-size: 13px;
    --pip-toggle-padding: 5px;
    --pip-toggle-icon-width-height: 16px;
    --pip-toggle-translate-x: calc(100% - var(--pip-toggle-icon-width-height) - 2 * var(--pip-toggle-padding));
}
.videocontrols {
    writing-mode: horizontal-tb;
    direction: ltr;
    text-align: left;
    list-style-image: none !important;
    font: normal normal normal 100%/normal sans-serif !important;
    white-space: normal !important;
} */

.vignette2{
width: 80%;
margin-right: 1%;
/* margin-left: 30%; */
}



.margeJ{


display: flex;
/* justify-content: space-around; */
flex-direction: row;
align-items: center;
     margin-left: 17%;
    margin-right: 8%; 
	margin-bottom: 10% ;
	vertical-align: middle;
	margin-top: 18%; 
		/* text-justify: center; */
    /* justify-content: space-around; */
    /* justify-content: space-around; */
    
}


.margeD{
    margin-right: 4%;
    margin-left: 4%;
    /* margin-bottom: 10% ; */
    margin-top: 16%;
    text-justify: center;

    /* justify-content: space-around; */
    /* vertical-align: middle; */
}

/* jerome */
.para{
	/* color: url(../../ressources/custom-imgs/para.jpg); */
	color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
   
}

/* background-image: url(../../ressources/custom-imgs/imageHEADER.jpg); */

/* david */
.para1{
    color:white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    grid-row: 2;
    grid-column: 2;
    z-index: 2;
   
}

/* BICHOY */
.para2{
    color:white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    grid-row: 3;
    grid-column: 1;
    z-index: 2;
   
}

/* Mana */
.para3{
color:white;
display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;
margin-left: 10%;
grid-row: 4;
grid-column: 2;
z-index: 2;

}

.para4{
    color:white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    grid-row: 5;
    grid-column: 1;
    z-index: 2;
   
}

.para5{
	color:white;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	margin-left: 2%;
	grid-row: 6;
	grid-column: 2;
	z-index: 2;
	
	}



	.para6{
		color:white;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		margin-left: 5%;
		grid-row: 7;
		grid-column: 1;
		z-index: 2;
	   
	}

	.para7{
		color:white;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
		margin-left: 2%;
		grid-row: 8;
		grid-column: 2;
		z-index: 2;
		
		}
	
	
		.para8{
			color:white;
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			margin-left: 5%;
			grid-row: 9;
			grid-column: 1;
			z-index: 2;
		   
		}


		.para9{
			color:white;
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			align-items: center;
			margin-left: 2%;
			grid-row: 10;
			grid-column: 2;
			z-index: 2;
			
			}


		.para10{
				color:white;
				display: flex;
				justify-content: space-around;
				flex-direction: row;
				align-items: center;
				margin-left: 5%;
				grid-row: 11;
				grid-column: 1;
				z-index: 2;
			   
			}


		.para11{
				color:white;
				display: flex;
				justify-content: space-around;
				flex-direction: row;
				align-items: center;
				margin-left: 2%;
				grid-row: 12;
				grid-column: 2;
				z-index: 2;
				
				}
	
		.para12{
					color:white;
					display: flex;
					justify-content: space-around;
					flex-direction: row;
					align-items: center;
					margin-left: 5%;
					grid-row: 13;
					grid-column: 1;
					z-index: 2;
				   
				}

		.para13{
					color:white;
					display: flex;
					justify-content: space-around;
					flex-direction: row;
					align-items: center;
					margin-left: 2%;
					grid-row: 14;
					grid-column: 2;
					z-index: 2;
					
					}

		.para14{
						color:white;
						display: flex;
						justify-content: space-around;
						flex-direction: row;
						align-items: center;
						margin-left: 5%;
						grid-row: 15;
						grid-column: 1;
						z-index: 2;
					   
					}			

/* .image10{ */
    /* width: 10%; */


    
   
/* } */
h1{
    text-align: center;
}

/* menu */
ol,ul {
    list-style: none;
    /* background-color: magenta; */
    margin-left: 30px;
    padding:0;
    margin-bottom: 40px;
}


a{
	text-decoration:none;
}


#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
} 



 #menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
} 


#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 15px 60px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position: absolute;
    top:30px;
    /* bottom: 30px; */
	left:0;
	height: 20px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
/* #download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
} 
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear; */
 /* }  */
/* #infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
} */
/* #infoMenu ul{
	padding: 0 40px;
} */
/* #infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
} */
/* #infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
} */
/* #examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
/* #examplesList ul{
	padding:0;
} */
/* #examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0; */
/* } */ 
/* #examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
} */



/* ul{    
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%; */
/* } */

.image1{
    width: 100%;
	grid-column: 1;		
	grid-row: 1; 
}

.image2{

    grid-column: 2;		
    grid-row: 1; 
	width: 100%;
	z-index: 3;
}

.image3{
	
    grid-column: 1;		
    grid-row: 2; 
    width: 100%;
}

.image4{
    grid-column: 2;		
    grid-row: 2; 
    width: 100%;
}

.image5{
    grid-column: 1;		
    grid-row: 3; 
    width: 100%;
}

.image6{
    grid-column: 2;		
    grid-row: 3; 
    width: 100%;
}

.image7{
    grid-column: 1;		
    grid-row: 4; 
    width: 100%;
}

.image8{
    grid-column: 2;		
    grid-row: 4; 
    width: 100%;
}

.image9{
	grid-column: 1;
	grid-row: 5;
	width: 100%;
}

.image10{
	grid-column: 2;
	grid-row: 5;
	width: 100%;
}

.image11{
	grid-column: 1;
	grid-row: 6;
	width: 100%;
}

.image12{
	grid-column: 2;
	grid-row: 6;
	width: 100%;
}


.image13{
	grid-column: 1;
	grid-row: 7;
	width: 100%;
}

.image14{
	grid-column: 2;
	grid-row: 7;
	width: 100%;
}


.image15{
	grid-column: 1;
	grid-row: 8;
	width: 100%;
}

.image16{
	grid-column: 2;
	grid-row: 8;
	width: 100%;
}

.image17{
	grid-column: 1;
	grid-row: 9;
	width: 100%;
}

.image18{
	grid-column: 2;
	grid-row: 9;
	width: 100%;
}

.image19{
	grid-column: 1;
	grid-row: 10;
	width: 100%;
}

.image20{
	grid-column: 2;
	grid-row: 10;
	width: 100%;
}
.image21{
	grid-column: 1;
	grid-row: 11;
	width: 100%;
}

.image22{
	grid-column: 2;
	grid-row: 11;
	width: 100%;
}

.image23{
	grid-column: 1;
	grid-row: 12;
	width: 100%;
}

.image24{
	grid-column: 2;
	grid-row: 12;
	width: 100%;
}

.image25{
	grid-column: 1;
	grid-row: 13;
	width: 100%;
}

.image26{
	grid-column: 2;
	grid-row: 13;
	width: 100%;
}
.image27{
	grid-column: 1;
	grid-row: 14;
	width: 100%;
}

.image28{
	grid-column: 2;
	grid-row: 14;
	width: 100%;
}

.image29{
	grid-column: 1;
	grid-row: 15;
	width: 100%;
}

.image30{
	grid-column: 2;
	grid-row: 15;
	width: 100%;
}