#section0,
#section1,
#section2,
#section3,
#slide1,
#slide2{
	background-size: cover;
	background-attachment: fixed;
}

#section0{
	background-image: url(../../include/img/imageHEADER.jpg);
}

#section1{
	background-image: url(../../include/img/fonddegradécentre.jpg);
	/* background-image: url(../../ressources/custom-imgs/logoindigen.png); */
}



#section2{
	background-image: url(../../include/img/imageHEADER.jpg);
}

#menu{
	display: flex;
	justify-content: space-between;
}
h1{
	color : #353331;
	width: 50%;
	margin: auto;
	border-radius: 15px;
}

/*******************PORTFOLIO*********************/
/* image page1 */
.portfolio1-img{

	width: 18%;
}


.portfolio-img{
	width: 70%;
	margin-top: 40px;
	border-radius: 15px;
	box-shadow: 15px 15px 2px 1px rgba(210, 210, 233, 0.4);
}

figcaption{
	font-size: 1.5em;
	margin-top: 20px;
	color: black;
}

/* #menu .en{
	background-image: url(../../ressources/custom-imgs/british-flag.png);
	background-size: cover !important;
	background-position: center !important;
} */
#menu .fr{
	background-image: url(../../include/img/french-flag.svg);	
	background-size: cover !important;
	background-position: center !important;

}
#menu .lo{
		background-image: url(../../include/img/logoindigen.png);
		background-size: cover !important;
		background-position: center !important;
}

/* controle fleche left and right */
.fp-controlArrow.fp-prev{
	left: 40px;
}

.fp-controlArrow.fp-next{
	right: 40px;
}

#fp-nav a{
	margin: 0;
	margin-left: 10px;
}
/***********************************************/


/*******************CONTACT*********************/



/* commentaire */
/* label {
    display:block;
    margin-top:1%;
    letter-spacing: 1.5%;
    } */
     
    /* Center the form  */
/* form {
    margin:0 auto;
    width:35%;
    } */
     
    /* textbox and textarea styles */
 /* .commentaire input, .commentaire textarea {
    width:80%;
    height:20%;
    background: #E5FCDF;
    padding:2%;
    margin-top:1%;
    color: #4A2A2B;
    border-radius:7px;
    border:1px solid green;
    } */
     
    /* height for textarea */
 /* textarea {
    height: 10%;
    } */
     
/* Border style on focus */
    /* input:focus, textarea:focus {
    border:0.5% solid #97d6eb;
    } */
     
 /* submit button styles */
    /* #submit {
    width: 80%;
    height:20%;
    margin-top:4%;
    margin-bottom: 10%;
    cursor:pointer;
    color:#363E3F;
    }
      */
    /* Change button looks on hover */
    /* #submit:hover {
    opacity:0.5;
    } */


/* fin beneaudrey */

/* initial */

.intro{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 88%;
	width: 55%;
	margin: auto;
	color : #353331;
	background-color: rgba(173, 45, 109, 0.822);
	border-radius: 15px;	
} 
#contact-form{	
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	font-size: 1.8em;
}

.input-area{
	text-align: center;
	/* width:80%; */
	height:20%;
	padding: 2%;
	
} 

textarea{ 
	font-size: 0.7em;
	
} 

/***********************************************/